!!!
%html
  %head
    %title Addy Electric
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel: 'stylesheet'}
    != css :app
  %body
    = haml :_nav

    = yield

    = haml :_footer

    != js  :app
